<h1 class="title">Dashboard</h1>

<div class="columns">
  <div class="column">
    <a href="/users">
      <article class="tile is-child notification is-primary">
        <p class="title">Users</p>
        <p class="subtitle">Create and manage users</p>
      </article>
    </a>
  </div>
  <div class="column">
    <a href="/places">
      <article class="tile is-child notification is-link">
        <p class="title">Places</p>
        <p class="subtitle">Create and manage places</p>
      </article>
    </a>
  </div>
</div>