<h1 class="title">Dashboard</h1>

<div class="columns">
  <div class="column">
    <a href="/orders">
      <article class="tile is-child notification is-primary">
        <p class="title">Orders</p>
        <p class="subtitle">Create and edit orders</p>
      </article>
    </a>
  </div>
</div>