<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Easypay</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="/styles/landing.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<header>
  <nav class="navbar is-danger">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/images/logo.png" alt="EasyPay">
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          {{#if currentUser}}
          <a class="navbar-item" href="/dashboard">
            Dashboard
          </a>
          <a class="navbar-item" href="/logout">
            Logout
          </a>
          {{else}}
          <a class="navbar-item" href="/register">
            Register
          </a>
          <a class="navbar-item" href="/login">
            Login
          </a>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>
</header>

<body>
  <section class="hero is-medium" style="border-bottom: 1px solid lightgrey">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-half">
            <div class="content hello">
              <p style="color: black; font-size: 32px;">
                <span class="shadow is-success">Easypay</span>
                <br>
                Pay in on <span class="shadow is-success shadow-click">click</span>
                <br>
                <span style="font-size: 18px; font-style: italic; margin-top: -20px">(Or in a photo)</span>
              </p>
              {{#unless currentUser}}
              <div>
                <p>
                  <a href="/register" class="button is-info">
                    <strong>Register now</strong>
                  </a>
                  <br />
                  <a href="/register" class="">
                    or login here
                  </a>
                </p>
              </div>
              {{/unless}}
            </div>
          </div>
          <img src="images/resources/example.png" width="700">
        </div>
      </div>
    </div>
  </section>

  {{!-- FEATURES FOR ADMINS --}}
  <section class="section" style="color: black; margin-top: 20px; border-bottom: 1px solid lightgray;">
    <div class="container">
      <div class="item columns">

        <div class="column is-3">
          <p style="text-align: center; font-size: 35px"><i class="fas fa-chart-area"></i></p>
          <p class="item-title" style="text-align: center; margin-top: 10px;">
            <span style="font-weight: bold">Manage your business</span>
          </p>
          <p class="text-align: center; margin-top: 10px;">Your places, your employess, your products. All in one place
          </p>
        </div>

        <div class="column is-3">
          <p style="text-align: center; font-size: 35px"><i class="fas fa-map-marker-alt"></i></p>
          <p class="item-title" style="text-align: center; margin-top: 10px;">
            <span style="font-weight: bold">Places</span></p>
          <p class="text-align: center; margin-top: 10px;">You have one restaurant or ten?. It doesn't matter, register
            as many as you want</p>
        </div>

        <div class="column is-3">
          <p style="text-align: center; font-size: 35px"><i class="fas fa-user-friends"></i></p>
          <p class="item-title" style="text-align: center; margin-top: 10px;">
            <span style="font-weight: bold">Employees</span></p>
          <p class="text-align: center; margin-top: 10px;">Create accounts for each one. You can edit or delete them</p>
        </div>

        <div class="column is-3">
          <p style="text-align: center; font-size: 35px"><i class="fas fa-pizza-slice"></i></p>
          <p class="item-title" style="text-align: center; margin-top: 10px;">
            <span style="font-weight: bold">Products</span></p>
          <p class="text-align: center; margin-top: 10px;">All your products in on place, to sell them easily</p>
        </div>
      </div>
    </div>
  </section>

  {{!-- FEATURES FOR USERS--}}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="device-container">
            <img src="images/resources/iphone_6_plus_white_port (1).png" width="300" height="auto">
          </div>
        </div>
        <div class="column is-three-fifths">

          <div class="columns">

            <div class="column is-half">
              <p style="text-align: center; font-size: 35px"><i class="fas fa-qrcode"></i></p>
              <p class="item-title" style="text-align: center; margin-top: 10px;">
                <span style="font-weight: bold">QR Codes</span>
              </p>
              <p class="text-align: center; margin-top: 10px;">Make charges with QR codes easily and simply
              </p>
            </div>

            <div class="column">
              <p style="text-align: center; font-size: 35px"><i class="fas fa-receipt"></i></p>
              <p class="item-title" style="text-align: center; margin-top: 10px;">
                <span style="font-weight: bold">Generate tickets</span></p>
              <p class="text-align: center; margin-top: 10px;">Generate tickets for each of your orders</p>
            </div>

          </div>

          <div class="columns">

            <div class="column is-half">
              <p style="text-align: center; font-size: 35px"><i class="fas fa-users"></i></p>
              <p class="item-title" style="text-align: center; margin-top: 10px;">
                <span style="font-weight: bold">Split the bill</span></p>
              <p class="text-align: center; margin-top: 10px;">
                Split the bill in a completely customized way from 1 to 12 clients
              </p>
            </div>

            <div class="column">
              <p style="text-align: center; font-size: 35px"><i class="fab fa-cc-paypal"></i></p>
              <p class="item-title" style="text-align: center; margin-top: 10px;">
                <span style="font-weight: bold">Charge with Paypal</span></p>
              <p class="text-align: center; margin-top: 10px;">
                No credit cards, allow your customers to pay with paypal in one click
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Easypay</strong> by <a href="https://www.linkedin.com/in/brennedith/" target="_blank">Brennedith
          García</a> y <a href="https://www.linkedin.com/in/gustavo-peña" target="_blank">Gustavo Peña</a>.
      </p>
    </div>
  </footer>

</html>