<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Easypay</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="/styles/landing.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<header>
  <nav class="navbar is-danger">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/images/logo.png" alt="EasyPay">
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/users">
            Users
          </a>
          <a class="navbar-item" href="/places">
            Places
          </a>
        </div>

        <div class="navbar-end">
          <a class="navbar-item" href="/register">
            Register
          </a>
          <a class="navbar-item" href="/login">
            Login
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>

<body>
  <section class="hero is-medium" style="border-bottom: 1px solid lightgrey">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-half">
            <div class="content hello">
              <p style="color: black; font-size: 32px;">
                <span class="shadow is-success">Easypay</span>
                <br>
                Paga en un <span class="shadow is-success shadow-click">click</span>
                <br>
                <span style="font-size: 18px; font-style: italic; margin-top: -20px">(O en una foto)</span>
              </p>
              <div>
                <a href="/register">
                  <button class="button is-info"> <strong>Register now</strong></button>
                </a>
              </div>
            </div>
          </div>
          {{!-- TODO: change image --}}
          <img src="https://pingstack.io/images/hero.png" width="700">
        </div>
      </div>
    </div>
  </section>

  {{!-- FEATURES --}}
  <section class="section" style="color: black; margin-top: 20px; border-bottom: 1px solid lightgray;">
    <div class="container">
      <div class="item columns">

        <div class="column is-3">
          <p style="text-align: center; font-size: 35px"><i class="fas fa-qrcode"></i></p>
          <p class="item-title" style="text-align: center; margin-top: 10px;">
            <span style="font-weight: bold">Códigos QR</span>
          </p>
          <p class="text-align: center; margin-top: 10px;">Realiza cobros con códigos QR de manera fácil y sencilla</p>
        </div>

        <div class="column is-3">
          <p style="text-align: center; font-size: 35px"><i class="fas fa-receipt"></i></p>
          <p class="item-title" style="text-align: center; margin-top: 10px;">
            <span style="font-weight: bold">Genera tickets</span></p>
          <p class="text-align: center; margin-top: 10px;">Genera tickets para cada una de tus ordenes</p>
        </div>

        <div class="column is-3">
          <p style="text-align: center; font-size: 35px"><i class="fas fa-users"></i></p>
          <p class="item-title" style="text-align: center; margin-top: 10px;">
            <span style="font-weight: bold">Divide la cuenta</span></p>
          <p class="text-align: center; margin-top: 10px;">Divide la cuenta de forma totalmente personalizada al gusto
            del cliente</p>
        </div>

        <div class="column is-3">
          <p style="text-align: center; font-size: 35px"><i class="fas fa-receipt"></i></p>
          <p class="item-title" style="text-align: center; margin-top: 10px;">
            <span style="font-weight: bold">Cobra con Paypal</span></p>
          <p class="text-align: center; margin-top: 10px;">Dale a tus clientes la posibilidad de pagar con paypal en un
            click</p>
        </div>
      </div>
    </div>
  </section>


  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="device-container">
            <img src="images/resources/iphone_6_plus_white_port (1).png" width="300" height="auto">
          </div>
        </div>
        <div class="column is-three-fifths">

          <div class="columns">

            <div class="column is-half">
              <p style="text-align: center; font-size: 35px"><i class="fas fa-qrcode"></i></p>
              <p class="item-title" style="text-align: center; margin-top: 10px;">
                <span style="font-weight: bold">Códigos QR</span>
              </p>
              <p class="text-align: center; margin-top: 10px;">Realiza cobros con códigos QR de manera fácil y sencilla
              </p>
            </div>

            <div class="column">
              <p style="text-align: center; font-size: 35px"><i class="fas fa-receipt"></i></p>
              <p class="item-title" style="text-align: center; margin-top: 10px;">
                <span style="font-weight: bold">Genera tickets</span></p>
              <p class="text-align: center; margin-top: 10px;">Genera tickets para cada una de tus ordenes</p>
            </div>

          </div>

          <div class="columns">

            <div class="column is-half">
              <p style="text-align: center; font-size: 35px"><i class="fas fa-users"></i></p>
              <p class="item-title" style="text-align: center; margin-top: 10px;">
                <span style="font-weight: bold">Divide la cuenta</span></p>
              <p class="text-align: center; margin-top: 10px;">Divide la cuenta de forma totalmente personalizada al
                gusto
                del cliente</p>
            </div>

            <div class="column">
              <p style="text-align: center; font-size: 35px"><i class="fas fa-receipt"></i></p>
              <p class="item-title" style="text-align: center; margin-top: 10px;">
                <span style="font-weight: bold">Cobra con Paypal</span></p>
              <p class="text-align: center; margin-top: 10px;">Dale a tus clientes la posibilidad de pagar con paypal en
                un
                click</p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Easypay</strong> por <a href="#">Brennedith García</a> y <a href="#">Gustavo Peña</a>.
        Patente en proceso.
      </p>
    </div>
  </footer>

</html>