<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

  <header>
    <nav class="navbar is-danger">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/images/logo.png" alt="EasyPay">
          </a>
        </div>

        <div class="navbar-menu">
          <div class="navbar-end">
            {{#if currentUser}}
            <a class="navbar-item" href="/dashboard">
              Dashboard
            </a>
            <a class="navbar-item" href="/logout">
              Logout
            </a>
            {{else}}
            <a class="navbar-item" href="/register">
              Register
            </a>
            <a class="navbar-item" href="/login">
              Login
            </a>
            {{/if}}
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      {{{body}}}
    </div>
  </main>

  <footer>
    <nav></nav>
  </footer>

  <script src="/javascript/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

</body>

</html>