<section class="hero is-info is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        That page does not exists
      </h1>
      <p>
        <a href="/" class="link">Click here to go back home</a>
      </p>
    </div>

  </div>
</section>