<section class="hero is-warning is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Something went wrong. :(
      </h1>
      <p>
        <a href="/" class="is-link">Click here to go back home</a>
      </p>
    </div>
  </div>
</section>