<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Something went wrong. :(
      </h1>
    </div>
  </div>
</section>