<h1 class="title">
  Payment
</h1>

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody id="products-list">
    <tr>
      <td colspan="3" class="has-text-centered">Loading...</td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td></td>
      <td>
        <h1 id="amount" class="title"></h1>
      </td>
    </tr>
  </tfoot>

</table>

<div id="paypal-button-container"></div>

<script src="https://www.paypal.com/sdk/js?client-id={{paypalId}}&currency=MXN">
</script>
<script>
  const PAYMENT_ID = "{{ id }}"
</script>
<script src="/javascript/payments/index.js"></script>