<h1 class="title">Order</h1>

<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody id="products">
    <tr>
      <td colspan="5" class="has-text-centered">Loading...</td>
    </tr>
  </tbody>
</table>

<button onclick="openModal(this); RenderProductsModal(this);" class="button is-success is-medium">Show products</button>

{{!-- MODAL --}}
<div id="modal-ter" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Products</p>
      <button onclick="closeModal(this)" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Add</th>
          </tr>
        </thead>
        <tbody id="products-modal">
          <tr>
            <td colspan="5" class="has-text-centered">Loading...</td>
          </tr>
        </tbody>
      </table>
    </section>
    <footer class="modal-card-foot">
    </footer>
  </div>
</div>

<script>
  const ORDER_ID = "{{ id }}"
</script>

<script src="/javascript/order/index.js"></script>


<script>
  document.addEventListener('DOMContentLoaded', renderOrders)
</script>