main {
  margin: 50px 10px;
}

.avatar {
  width: 120px;
  max-width: 10vw;
}

#go-back {
  margin-bottom: 20px;
}

#new-order-button {
  margin-bottom: 30px;
}

#buttons-detail-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .card {
    /* min-width: 455px; */
    max-width: 60%;
    margin: 0 auto;
  }
}

/* Bulma style */
.link {
  text-decoration: underline;
}
